.button {
    display: inline-block;
    padding: 25px 56px;

    background: #E01E2E;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;

    color: #FFFFFF;

    /* Tablet */
    @media (max-width: 1199px) {
        padding: 21px 48px;
        
    }

     /* Mobile */
     @media (max-width: 768px) {
        padding: 18px 44px;
        font-size: 18px;
    }

    /* Mobile XS */
    @media (max-width: 576px) {
        padding: 10px 14px;
        font-size: 16px;
        border-radius: 7px;
    }
    
}

.button--edit{
    font-size: 20px;
    line-height: 1.2;
    padding-left: 80px;
    padding-right: 80px;

     /* Mobile XS */
     @media (max-width: 576px) {
        padding: 10px 14px;
        font-size: 14px;
        border-radius: 7px;
    }

    
}

.button--black {
    padding: 6px 13px;
    background: #141515;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    

    color: #FFFFFF;

    /* Mobile XS */
    @media (max-width: 576px) {
        padding: 5px 8px;
        font-size: 10px;
    }
}