.navigation{
    /* Tablet */
    @media (max-width: 1199px) {
        display: none;
    }
}
.navigation__list {
    display: flex;
    column-gap: 55px;
}
.navigation__line {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    
    color: #FFFFFF;
}

